In [1]:
# Importar las librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as hist
from langdetect import detect

In [2]:
# Leer los archivos csv
coursera_courses  = pd.read_csv('datasets/Coursera_courses.csv')
coursera_reviews  = pd.read_csv('datasets/Coursera_reviews.csv')
edx_courses = pd.read_csv('datasets/edx_courses.csv')
udemy_courses = pd.read_csv('datasets/udemy_courses.csv')

Comprobar que columnas tiene cada CSV

In [3]:
coursera_courses.columns.values
#coursera_reviews.columns.values
#edx_courses.columns.values
#udemy_courses.columns.values

array(['name', 'institution', 'course_url', 'course_id'], dtype=object)

Análisis exploratorio de los datos de Coursera Courses

In [4]:
coursera_courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    object
 2   course_url   623 non-null    object
 3   course_id    623 non-null    object
dtypes: object(4)
memory usage: 19.6+ KB

In [5]:
coursera_courses.describe()

,name,institution,course_url,course_id
count,623,623,623,623
unique,622,134,623,623
top,Introduction to Psychology,University of Pennsylvania,https://www.coursera.org/learn/machine-learning,machine-learning
freq,2,43,1,1

In [6]:
coursera_courses.head(5)

,name,institution,course_url,course_id
0,Machine Learning,Stanford University,https://www.coursera.org/learn/machine-learning,machine-learning
1,Indigenous Canada,University of Alberta,https://www.coursera.org/learn/indigenous-canada,indigenous-canada
2,The Science of Well-Being,Yale University,https://www.coursera.org/learn/the-science-of-...,the-science-of-well-being
3,Technical Support Fundamentals,Google,https://www.coursera.org/learn/technical-suppo...,technical-support-fundamentals
4,Become a CBRS Certified Professional Installer...,Google - Spectrum Sharing,https://www.coursera.org/learn/google-cbrs-cpi...,google-cbrs-cpi-training

Análisis exploratorio de los datos de Coursera Reviews

In [7]:
coursera_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB

In [8]:
coursera_reviews.describe()

             rating
count  1.454711e+06
mean   4.696649e+00
std    6.983271e-01
min    1.000000e+00
25%    5.000000e+00
50%    5.000000e+00
75%    5.000000e+00
max    5.000000e+00

In [9]:
coursera_reviews.head(5)

,reviews,reviewers,date_reviews,rating,course_id
0,"Pretty dry, but I was able to pass with just t...",By Robert S,"Feb 12, 2020",4,google-cbrs-cpi-training
1,would be a better experience if the video and ...,By Gabriel E R,"Sep 28, 2020",4,google-cbrs-cpi-training
2,Information was perfect! The program itself wa...,By Jacob D,"Apr 08, 2020",4,google-cbrs-cpi-training
3,A few grammatical mistakes on test made me do ...,By Dale B,"Feb 24, 2020",4,google-cbrs-cpi-training
4,Excellent course and the training provided was...,By Sean G,"Jun 18, 2020",4,google-cbrs-cpi-training

Análisis exploratorio de los datos de EdX Courses

In [10]:
edx_courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               975 non-null    object
 1   summary             922 non-null    object
 2   n_enrolled          855 non-null    object
 3   course_type         975 non-null    object
 4   institution         975 non-null    object
 5   instructors         972 non-null    object
 6   Level               975 non-null    object
 7   subject             975 non-null    object
 8   language            975 non-null    object
 9   subtitles           972 non-null    object
 10  course_effort       975 non-null    object
 11  course_length       975 non-null    object
 12  price               975 non-null    object
 13  course_description  935 non-null    object
 14  course_syllabus     417 non-null    object
 15  course_url          975 non-null    object
dtypes: object(16)
memory usage: 122.0+ KB

In [11]:
edx_courses.describe()

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url
count,975,922,855,975,975,972,975,975,975,972,975,975,975,935,417,975
unique,972,887,849,2,111,775,3,31,9,33,53,18,47,932,412,974
top,Introduction to Probability,This course is part of a MicroMasters® Program,"97,291",Self-paced on your time,Harvard University,Rafael Irizarry,Introductory,Computer Science,English,English,2–4 hours per week,4 Weeks,FREE-Add a Verified Certificate for $49 USD,"About the Database Series of Courses""Databases...",Course Outline:,https://www.edx.org/course/introduction-to-pro...
freq,2,15,2,917,104,9,621,166,777,713,108,194,270,3,3,2

In [12]:

edx_courses.head(5)

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url
0,How to Learn Online,Learn essential strategies for successful onli...,"124,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,English,2–3 hours per week,2 Weeks,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,"This course is a ""no prerequisite"" introductio...","293,864",Self-paced on your time,The University of Michigan,Charles Severance,Introductory,Computer Science,English,English,2–4 hours per week,7 Weeks,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...
2,CS50's Introduction to Computer Science,An introduction to the intellectual enterprise...,"2,442,271",Self-paced on your time,Harvard University,David J. Malan-Doug Lloyd-Brian Yu,Introductory,Computer Science,English,English,6–18 hours per week,12 Weeks,FREE-Add a Verified Certificate for $90 USD,"This is CS50x , Harvard University's introduct...",NaN,https://www.edx.org/course/cs50s-introduction-...
3,The Analytics Edge,"Through inspiring examples and stories, discov...","129,555",Instructor-led on a course schedule,Massachusetts Institute of Technology,Dimitris Bertsimas-Allison O'Hair-John Silberh...,Intermediate,Data Analysis & Statistics,English,English,10–15 hours per week,13 Weeks,FREE-Add a Verified Certificate for $199 USD,"In the last decade, the amount of data availab...",NaN,https://www.edx.org/course/the-analytics-edge
4,Marketing Analytics: Marketing Measurement Str...,This course is part of a MicroMasters® Program,"81,140",Self-paced on your time,"University of California, Berkeley",Stephan Sorger,Introductory,Computer Science,English,English,5–7 hours per week,4 Weeks,FREE-Add a Verified Certificate for $249 USD,Begin your journey in a new career in marketin...,NaN,https://www.edx.org/course/marketing-analytics...

Análisis exploratorio de los datos de Udemy Courses

In [13]:
udemy_courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB

In [14]:
udemy_courses.describe()

,course_id,price,num_subscribers,num_reviews,num_lectures,content_duration
count,3.678000e+03,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000
mean,6.759720e+05,66.049483,3197.150625,156.259108,40.108755,4.094517
std,3.432732e+05,61.005755,9504.117010,935.452044,50.383346,6.053840
min,8.324000e+03,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.076925e+05,20.000000,111.000000,4.000000,15.000000,1.000000
50%,6.879170e+05,45.000000,911.500000,18.000000,25.000000,2.000000
75%,9.613555e+05,95.000000,2546.000000,67.000000,45.750000,4.500000
max,1.282064e+06,200.000000,268923.000000,27445.000000,779.000000,78.500000

In [15]:
udemy_courses.head(5)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

# ETL

Antes de procesar datos, se limpian y normalizan los datos para que sea mas facil el analisis

In [16]:
#eliminando columnas que se consideran no relevantes para el analisis

coursera_courses.drop(['course_url', 'institution'], axis=1, inplace=True)
coursera_reviews.drop(['reviewers', 'reviews'], axis=1, inplace=True)
udemy_courses.drop(['course_id','url','is_paid'], axis=1, inplace=True)
edx_courses.drop(['summary','institution','instructors','subtitles','course_effort', 'course_description','course_url'], axis=1, inplace=True)

In [17]:
edx_courses.head(5)

,title,n_enrolled,course_type,Level,subject,language,course_length,price,course_syllabus
0,How to Learn Online,"124,980",Self-paced on your time,Introductory,Education & Teacher Training,English,2 Weeks,FREE-Add a Verified Certificate for $49 USD,Welcome - We start with opportunities to meet ...
1,Programming for Everybody (Getting Started wit...,"293,864",Self-paced on your time,Introductory,Computer Science,English,7 Weeks,FREE-Add a Verified Certificate for $49 USD,NaN
2,CS50's Introduction to Computer Science,"2,442,271",Self-paced on your time,Introductory,Computer Science,English,12 Weeks,FREE-Add a Verified Certificate for $90 USD,NaN
3,The Analytics Edge,"129,555",Instructor-led on a course schedule,Intermediate,Data Analysis & Statistics,English,13 Weeks,FREE-Add a Verified Certificate for $199 USD,NaN
4,Marketing Analytics: Marketing Measurement Str...,"81,140",Self-paced on your time,Introductory,Computer Science,English,4 Weeks,FREE-Add a Verified Certificate for $249 USD,NaN

In [18]:
#se hacen transformaciones a ciertas columnas del dataset Edx
# Separación de la columna 'price' en dos columnas
edx_courses['extra'], edx_courses['Price[USD]'] = edx_courses['price'].str.split('$', 1).str
edx_courses['Price[USD]'], edx_courses['extra1'] = edx_courses['Price[USD]'].str.split(' ', 1).str

# Eliminación de columnas no necesarias
edx_courses.drop(['extra', 'extra1'], axis=1, inplace=True)

# Separación de la columna 'course_length' en dos columnas
edx_courses['Length[Weeks]'], edx_courses['extra'] = edx_courses['course_length'].str.split(' ', 1).str

# Eliminación de columnas no necesarias
edx_courses.drop(['extra', 'course_length'], axis=1, inplace=True)

# Modificación de los títulos de las columnas
cols_rename = {
    'title': 'Title',
    'n_enrolled': 'Enrolled',
    'course_type': 'Course_Type',
    'subject': 'Subject',
    'language': 'Language',
    'price': 'Price[USD]'
}
edx_courses.rename(cols_rename, axis=1, inplace=True)

C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\763076864.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  edx_courses['extra'], edx_courses['Price[USD]'] = edx_courses['price'].str.split('$', 1).str
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\763076864.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  edx_courses['extra'], edx_courses['Price[USD]'] = edx_courses['price'].str.split('$', 1).str
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\763076864.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  edx_courses['Price[USD]'], edx_courses['extra1'] = edx_courses['Price[USD]'].str.split(' ', 1).str
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\763076864.py:4: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  edx_courses['Price[USD]'], edx_courses['extra1'] = edx_courses['Price[USD]'].str.split(' ', 1).str
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\763076864.py:10: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  edx_courses['Length[Weeks]'], edx_courses['extra'] = edx_courses['course_length'].str.split(' ', 1).str
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\763076864.py:10: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  edx_courses['Length[Weeks]'], edx_courses['extra'] = edx_courses['course_length'].str.split(' ', 1).str

In [19]:
edx_courses.head(5)

,Title,Enrolled,Course_Type,Level,Subject,Language,Price[USD],course_syllabus,Price[USD],Length[Weeks]
0,How to Learn Online,"124,980",Self-paced on your time,Introductory,Education & Teacher Training,English,FREE-Add a Verified Certificate for $49 USD,Welcome - We start with opportunities to meet ...,49,2
1,Programming for Everybody (Getting Started wit...,"293,864",Self-paced on your time,Introductory,Computer Science,English,FREE-Add a Verified Certificate for $49 USD,NaN,49,7
2,CS50's Introduction to Computer Science,"2,442,271",Self-paced on your time,Introductory,Computer Science,English,FREE-Add a Verified Certificate for $90 USD,NaN,90,12
3,The Analytics Edge,"129,555",Instructor-led on a course schedule,Intermediate,Data Analysis & Statistics,English,FREE-Add a Verified Certificate for $199 USD,NaN,199,13
4,Marketing Analytics: Marketing Measurement Str...,"81,140",Self-paced on your time,Introductory,Computer Science,English,FREE-Add a Verified Certificate for $249 USD,NaN,249,4

In [20]:
#Unir los datasets coursera courses/renews y se modifican los titulos 

# Agrupación por promedio en la tabla coursera_r
group_cols = ['course_id']
coursera_reviews = coursera_reviews.groupby(group_cols).mean()

# Unificación de las tablas coursera_courses y coursera_renew en una sola tabla 'coursera'
merge_cols = ['course_id']
coursera = coursera_courses.merge(coursera_reviews, on=merge_cols, how='left')

# Eliminación de la columna 'course_id'
drop_cols = ['course_id']
coursera.drop(drop_cols, axis=1, inplace=True)

# Modificación de los títulos de las columnas
cols_rename = {
    'name': 'Title',
    'rating': 'Rating'
}
coursera.rename(cols_rename, axis=1, inplace=True)

C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\4229622868.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  coursera_reviews = coursera_reviews.groupby(group_cols).mean()

In [21]:
# Aplicar la función detect para determinar el idioma de cada título de curso
coursera['Language'] = coursera['Title'].apply(detect)

# Reemplazar valores detallados con nombres de idiomas más generales
language_map = {
    'en':'English',
    'ca':'English',
    'lt':'English',
    'af':'English',
    'da':'English',
    'id':'English',
    'tl':'English',
    'nl':'English',
    'no':'English',
    'ru':'Russian',
    'Polish':'English',
    'German':'English',
    'Italian':'English', 
    'es':'Spanish', 
    'de':'German',
    'pt':'Portuguese',
    'fr':'French',
    'it':'Italian',
    'ro':'Romanian',
    'pl':'Polish',
    'ko':'Korean'
}

coursera['Language'].replace(language_map, inplace=True)

In [22]:
#Modificando las columnas de Udemy

udemy_courses[['Published_Date','extra']] = udemy_courses['published_timestamp'].str.split('T',1,expand=True)
udemy_courses.drop(['extra','published_timestamp'], axis=1, inplace=True)

C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\2762183059.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  udemy_courses[['Published_Date','extra']] = udemy_courses['published_timestamp'].str.split('T',1,expand=True)

In [23]:
# Se modifican los titulos
udemy_courses.rename(columns={'course_title': 'Title', 'price':'Price[USD]', 'num_subscribers': 'Subscribers','num_reviews':'Reviews','num_lectures':'Lectures', 'level': 'Level','content_duration':'Length[Weeks]', 'subject':'Subject'}, inplace=True)

udemy_courses['Language']=udemy_courses['Title'].apply(detect)
udemy_courses['Language'].replace({'en':'English', 'es':'Spanish', 'de':'German', 'ar':'Arabic', 'ja':'Japanese','pt':'Portuguese','th':'Thai','fr':'French','ru':'Russian','zh-cn':'Chinese','it':'Italian','et':'Estonian','ro':'Romanian','tr':'Turkish','pl':'Polish','ko':'Korean'}, inplace=True)

In [24]:
udemy_courses['Language'][[671,1041,1258,1259,1260,1465,1466,1471,1501,1627,2138,2251,2253]]='Spanish'

udemy_courses['Language'][[1320]]='Chinese'
udemy_courses['Language'][[1667]]='Japanese'
udemy_courses['Language'][[1726]]='Portuguese'

udemy_courses['Language'][[19,58,93,99,103,108,112,129,140,229,267,296,308,309,319,322,337,348,359,363,364,388,395,410,418,424,429,438,446,453,466,471,478,479,519,544,547,558,581,604,617,618,641,650,658,660,681,687,717,718,734,766,782,808,811,818,820,822,831,835,836,846,852,933,938,964,972,973,974,980,1020,1066,1067,1068,1165,1217,1228,1295,1297,1326,1345,1406,1411,1417,1436,1438,1445,1479,1499,1531,1562,1579,1635,1644,1646,1657,1681,1685,1687,1698,1703,1743,1751,1752,1762,1764,1790,1800,1806,1819,1823,1830,1845,1861,1868,1877,1883,1889,1901,1905,1916,1922,1931,1957,1976,1983,1985,2008,2029,2047,2062,2067,2071,2077,2088,2091,2092,2108,2112,2118,2163,2168,2177,2215,2225,2239,2267,2268,2281,2287,2303,2314,2342,2378,2381,2419,2410,2432,2450,2456,2472,2505,2512,2522,2525,2576,2592,2601,2612,2628,2647,2645,2670,2676,2685,2708,2724,2726,2749,2780,2795,2829,2855,2867,2885,2921,2945,2954,2955,2969,2983,2985,2986,3013,3040,3045,3048,3095,3098,3142,3144,3161,3165,3171,3234,3244,3255,3260,3270,3285,3305,3307,3324,3332,3337,3360,3362,3385,3424,3455,3495,3511,3544,3564,3589,3657,3666]]='English'

C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\1364794165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  udemy_courses['Language'][[671,1041,1258,1259,1260,1465,1466,1471,1501,1627,2138,2251,2253]]='Spanish'
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\1364794165.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  udemy_courses['Language'][[1320]]='Chinese'
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\1364794165.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  udemy_courses['Language'][[1667]]='Japanese'
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\1364794165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  udemy_courses['Language'][[1726]]='Portuguese'
C:\Users\Alex\AppData\Local\Temp\ipykernel_7080\1364794165.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  udemy_courses['Language'][[19,58,93,99,103,108,112,129,140,229,267,296,308,309,319,322,337,348,359,363,364,388,395,410,418,424,429,438,446,453,466,471,478,479,519,544,547,558,581,604,617,618,641,650,658,660,681,687,717,718,734,766,782,808,811,818,820,822,831,835,836,846,852,933,938,964,972,973,974,980,1020,1066,1067,1068,1165,1217,1228,1295,1297,1326,1345,1406,1411,1417,1436,1438,1445,1479,1499,1531,1562,1579,1635,1644,1646,1657,1681,1685,1687,1698,1703,1743,1751,1752,1762,1764,1790,1800,1806,1819,1823,1830,1845,1861,1868,1877,1883,1889,1901,1905,1916,1922,1931,1957,1976,1983,1985,2008,2029,2047,2062,2067,2071,2077,2088,2091,2092,2108,2112,2118,2163,2168,2177,2215,2225,2239,2267,2268,2281,2287,2303,2314,2342,2378,2381,2419,2410,2432,2450,2456,2472,2505,2512,2522,2525,2576,2592,2601,2612,2628,2647,2645,2670,2676,2685,2708,2724,2726,2749,2780,2795,2829,2855,2867,2885,2921,2945,2954,2955,2969,2983,2985,2986,3013,3040,3045,3048,3095,3098,3142,3144,3161,3165,3171,3234,3244,3255,3260,3270,3285,3305,3307,3324,3332,3337,3360,3362,3385,3424,3455,3495,3511,3544,3564,3589,3657,3666]]='English'

In [26]:
# crear nuevos dataframes para el Dashboard 
coursera.to_csv('datasets/new_Coursera.csv')
edx_courses.to_csv('datasets/new_edx_courses.csv')
udemy_courses.to_csv('datasets/new_udemy_courses.csv')